body {
    background-color: aqua;
    margin: 0;
    font-family: "Comic Sans MS", sans-serif !important;
}

.container {
    display: flex;
    justify-content: center;
}

.nav_body {
    overflow: hidden;
    background-color: white;
    display: block !important;
}

.nav li {
    display: inline;
}

.nav li .left {
    margin-left: -1rem;
}

.nav li .right {
    float: right;
    margin-right: 1rem;
}

.nav li .center {
    float: none;
    position: absolute;
    left: 29%;
}

.nav li .icon {
    width: 2rem;
    height: 2rem;
}

.nav_search input {
    padding-right: 30rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    margin: 0;
}

.nav_search button {
    padding: 0.25rem 1rem;
    margin: 0 0 0 -1rem;
    color: white;
    background-color: blue;
    cursor: pointer;
}